<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spookelton Giveaway</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <script>
    function updateEntries(game) {
      console.log(game)
      var socket = io();
      socket.emit('add_game', game);
      socket.on('cart-updated', function (cart_status) {
        if (cart_status.err) {
          alert(err);
        }
        $('.' + game.gameid).text(game.return);
        $('.' + game.gameid).addClass('disable');
        $('.' + game.gameid).removeClass('fa fa-shopping-cart');
      });
    };
    </script>
    <link href="css/giveaway.css" rel="stylesheet">
  </head>

  <body>
    <img src='../images/GiveawayBanner.png' style='width: 98.8vw;'>
    <div class="content">
      <div class='header'>
        <p>Welcome to the spookelton giveaway! There are a few important things you should know:<br>
        You can only win one game per giveaway, You rank the games your intrested in from 1 to 10<br>
        Some games are patron only, these will  be greyed out for you if your not a donator. If you want to become a patron click <a href='https://www.patreon.com/VonSpookelton' style='color: #337ab7'>Here</a></p>
      </div>
      <div class='content-header-container'>
        <% if (typeof(user) == 'undefined') { %>
          <a href='/login'><button class="btn login-button"><img class="login-image" src='https://cdn.worldvectorlogo.com/logos/discord.svg'>Login With Discord</button></a>
        <% } else { %>
          <button class="btn login-button"><img class="login-image" src='https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=128'><%- user.username %></button>
        <% } %>
      </div>

      <ul style="width: 98vw">
        <% games.forEach(function(game) { %>

            <li class="imgCont">
              <div class="imgDescription imgDesNorm">
                <h3 align="center" padding-top: 300px ><%- game.name %></h3>
               
              </div>
              <img class="imgnorm" src='<%- game.data.header_image %>'></img>
            <div class="imgOver">
                     <a data-toggle="collapse" href="#<%- game._id %>"><span class="  glyphicon glyphicon-question-sign"></span></a>
               <!--  <% if (typeof(user) !== 'undefined') { %>
                  <a href='javascript:;' onclick='javascript:updateEntries(<%- '{"name":"' + game.name + '","id":"' + user.id + '","gameid":"' + game._id + '","img":"' + game.image + '"}' %>)'><i class='<%- game._id %> add fa fa-plus' aria-hidden="true"></i></a>-->
                <% } %> 
              </div>
             
            </li>

             <div class="panel-collapse collapse" id="<%- game._id %>" style=" padding-right: 50px" >
              <div class="panel-body" id="info-panel">
                <div class="row" style="  overflow-y: hidden;">
                  <div class="col-sm-7">
                  <video>
 				<!-- video for game that jason wont work with-->
                  </video>
                  </div>
                  <div class="col-sm-5" style="height: 25vw">
                  <% if (game.data.detailed_description) { %>
                  <p ><%- game.data.detailed_description %></p>
                <% } else { %>
                  <p>Game description unavailable... Have a cookie <3</p>
                <% } %>
                  </div>
                </div>
                <div class="panel-footer" style="background-color: grey; align-content: right;">
                	<button style="color: black">Priority up</button>
                	<button style="color: black">Priority down</button> 
                	<button style="color:black">Remove Priority</button>
                </div>
                </div>
              </div>
          </a>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
