<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spookelton Giveaway</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="css/giveaway.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <script>
		var socket = io();
		$(function() {
			$('#entries_list').children().each(function(index, value) {
				$('#entries_list').children().eq($(this).find(".inverseImgDescription h1").text()).after(this);
			})
			$("#entries_list").sortable({
				stop: function() {
					$('#entries_list').children().each(function(index, value) {
						socket.emit('giveaway_sub_game', {gameID: this.id, memberID: '<%- user.id %>', subIndex: $(this).index()})
						$(this).find(".inverseImgDescription h1").text($(this).index())
					})
				}
			})
		});
		function modEntry(game, update) {
			if ($('.'+game.id).attr('stat') == 'add') {
				$('#entries_list').append($('.'+game.id))
				$('.'+game.id).attr('stat', "remove")
				$('.'+game.id+' .inverseImgDescription').removeClass('hidden')
				$('.'+game.id+' .inverseImgDescription h1').text($('.'+game.id).index())
				socket.emit('giveaway_sub_game', {gameID: game.id, memberID: '<%- user.id %>', subIndex: $('.'+game.id).index()})
		    socket.on('return_giveaway_sub_game', function(info){
					console.log(game.id, info);
				})
			} else {
				socket.emit('giveaway_unsub_game', {gameID: game.id, memberID: '<%- user.id %>'})
		    socket.on('return_giveaway_unsub_game', function(info){
					$('#games').append($('.'+game.id))
					$('.'+game.id).attr('stat', "add")
					$('.'+game.id+' .inverseImgDescription').addClass('hidden')
					console.log(game.id, info);
				})
			}
		}
    </script>
  </head>
  <body>
    <img src='../images/GiveawayBanner.png' style='width: 98.8vw;'>
    <div class="content">
      <div class='header'>
        <p>Welcome to the spookelton giveaway! There are a few important things you should know:<br>
        You can only win one game per giveaway, You rank the games your intrested in from 1 to 10<br>
        Some games are patron only, these will  be greyed out for you if your not a donator. If you want to become a patron click <a href='https://www.patreon.com/VonSpookelton' style='color: #337ab7'>Here</a></p>
      </div>
      <div class='content-header-container'>
        <% if (typeof(user) == 'undefined') { %>
          <a href='/login'><button class="btn login-button"><img class="login-image" src='https://cdn.worldvectorlogo.com/logos/discord.svg'>Login With Discord</button></a>
        <% } else { %>
          <button class="btn login-button"><img class="login-image" src='https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png?size=128'><%- user.username %></button>
        <% } %>
      </div>
			<div id='entries'>
				<h2>Your Entries</h2>
				<ol style="width: 98vw" id='entries_list' class="connectedSortable">
					<% for (key in games) {
						if (user.id in games[key].applicants) { %>
							<li class="imgCont <%- games[key]._id %>" id="<%- games[key]._id %>" stat='remove'>
								<a href="javascript:;"onclick="javascript:modEntry(<%- "{'user':'" + user.id + "','id':'" + games[key]._id + "'}" %>)">
									<div class="inverseImgDescription">
										<b><h1 align="center" style='margin-top: 40px;'><%- games[key].applicants[user.id] %></h1></b>
									</div>
		            	<div class="imgDescription imgDesNorm">
										<h4 align="center" style='margin-top: 40px;'><%- games[key].name %></h4>
										<div style='text-align: center;'><% for (i in games[key].data.genres) { %>
											<% if (i != games[key].data.genres.length -1) { %>
												<span><b><%- games[key].data.genres[i].description %></b>,</span>
											<% } else { %>
												<span><b><%- games[key].data.genres[i].description %></b></span>
											<% } %>
										<% }; %></div>
		              </div>
		              <img class="imgnorm" src='<%- games[key].data.header_image %>'></img>
								</a>
	            </li>
						<% }
					} %>
				</ol>
			</div>
			<br>
			<div id='giveaway_games'>
				<ol style="width: 98vw" id='games'>
	        <% for (key in games) {
						if(!(user.id in games[key].applicants)) {
							if (games[key].patronOnly == true & patron) { %>
							<li class="imgCont <%- games[key]._id %>" id="<%- games[key]._id %>" stat='add'>
								<a href="javascript:;"onclick="javascript:modEntry(<%- "{'user':'" + user.id + "','id':'" + games[key]._id + "'}" %>)">
									<div class="inverseImgDescription hidden">
										<b><h1 align="center" style='margin-top: 40px;'>0</h1></b>
									</div>
									<div class="imgDescription imgDesNorm">
										<h4 align="center" style='margin-top: 40px;'><%- games[key].name %></h4>
										<div style='text-align: center;'><% for (i in games[key].data.genres) { %>
											<% if (i != games[key].data.genres.length -1) { %>
												<span><b><%- games[key].data.genres[i].description %></b>,</span>
											<% } else { %>
												<span><b><%- games[key].data.genres[i].description %></b></span>
											<% } %>
										<% }; %></div>
		              </div>
		              <img class="imgnorm" src='<%- games[key].data.header_image %>'></img>
								</a>
	            </li>
					<% } else if(games[key].patronOnly == true & !patron) { %>
						<li class="imgCont excludedGame <%- games[key]._id %>" id="<%- games[key]._id %>" stat='add'>
							<a href='https://www.patreon.com/VonSpookelton'>
								<div class="imgDescription imgDesNorm">
									<h4 align="center" style='margin-top: 40px;'><span style="color: #ffca00;">Patron Only</span></h4>
									<h4 align="center" style='margin: 0px;'><%- games[key].name %></h4>
									<div style='text-align: center;'><% for (i in games[key].data.genres) { %>
										<% if (i != games[key].data.genres.length -1) { %>
											<span><b><%- games[key].data.genres[i].description %></b>,</span>
										<% } else { %>
											<span><b><%- games[key].data.genres[i].description %></b></span>
										<% } %>
									<% }; %></div>
								</div>
								<img class="imgnorm" src='<%- games[key].data.header_image %>'></img>
							</a>
						</li>
	        <% } else { %>
						<li class="imgCont <%- games[key]._id %>" id="<%- games[key]._id %>" stat='add'>
							<a href="javascript:;"onclick="javascript:modEntry(<%- "{'user':'" + user.id + "','id':'" + games[key]._id + "'}" %>)">
								<div class="inverseImgDescription hidden">
									<b><h1 align="center" style='margin-top: 40px;'>0</h1></b>
								</div>
								<div class="imgDescription imgDesNorm">
									<h4 align="center" style='margin-top: 40px;'><%- games[key].name %></h4>
									<div style='text-align: center;'><% for (i in games[key].data.genres) { %>
										<% if (i != games[key].data.genres.length -1) { %>
											<span><b><%- games[key].data.genres[i].description %></b>,</span>
										<% } else { %>
											<span><b><%- games[key].data.genres[i].description %></b></span>
										<% } %>
									<% }; %></div>
								</div>
								<img class="imgnorm" src='<%- games[key].data.header_image %>'></img>
							</a>
						</li>
				 <%	}
			 	}
				}; %>
	      </ol>
			</div>
    </div>
  </body>
</html>
